# The following files will be ignored by git

# ignore files without extension
*
!/**/
!*.*

# assmebler
*.hex.txt

# iverilog 
*.vcd 
a.out 

# ccls
.ccls-cache

# vscode
.vscode

# windows
.DS_Store

# testbench
*.bin
*.hex
*.elf
*.out
*.log
